.alert {
    width: 5px;
    height: 5px;
    background-color: tomato;
    border-radius: 2.5px;
    position: absolute;
}
.icon {
    right: -6px;
    top: -7px;
}

.user {
    top:0px;
    left:0px;
}